/**
 * @author Sven Schüring <ssch@zenmotion.de>
 */

@media screen
{

	/**
	 * base layout
	 */

	body
	{
		overflow-y: scroll;
		background-color: #efefef;
		padding-bottom: 20px;
	}

	body > header,
	body > nav,
	body > footer
	{
		min-width: 760px;
	}

	.ym-wrapper
	{
		max-width: 80em;
		margin: 0 auto;
	}

	.ym-wrapper,
	.ym-col1,
	.ym-col2,
	.ym-col3
	{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 10px;
	}

	.ym-col1
	{
		float: right;
		width: 37%;
	}

	.ym-col3
	{
		margin-left: 0;
		margin-right: 37%;
	}

	body > .ym-wrapper
	{
		background-color: #fff;
		-webkit-box-shadow: 0 0 10px #ddd;
		box-shadow: 0 0 10px #ddd;
	}

	.ym-hlist .ym-wrapper {
		padding: 0;
	}

	footer .ym-wrapper {
		padding: 0;
	}

	/**
	 * sprites
	 */

	@import "icons/*.png";

	/**
	 * search form
	 */

	 .search-form .ym-hideme
	 {
	 	position: absolute !important;
	 }

	 .search-form div.ym-fbox-text
	 {
	 	padding: 1em;
	 }

	/**
	 * articles
	 */

	.ym-col3 > article footer
	{
		margin-top: 10px;
	}

	.author
	{
		margin: 1.5em 0;
	}

	/**
	 * comments
	 */

	.comments article
	{
		width: auto;
		margin-top: 1.2857em;
	}

	.comments article article,
	/* wordpress specific */
	.comments div div
	{
		margin-left: 5%;
	}

	.comments article h5
	{
		margin: 0 !important;
	}

	.comments article > p,
	.author > p
	{
		margin: 0 1.5em 0 0;
	}

	.comments .acomment
	{
		border-top: 5px #eee solid;
		border-bottom: 5px #eee solid;
		background-color: #f9f9f9;
	}

	#top
	{
		float: right;
		height: 16px;
		width: 16px;
		margin: 7px 20px;
		text-indent: -200em;
		@include icons-sprite(ico_br_up);
	}

	.no-margin a
	{
		margin-top: 0;
	}

	/**
	 * social media bar
	*/

	.social
	{
		margin: .5em 0 0 0;
	}

	.btn
	{
		display: block;
		float: left;
		width: auto;
		min-height: 20px;
		padding-right: 10px;
		color: #000;
	}

	.btn:hover,
	.btn:active,
	.btn:active,
	.btn:focus
	{
		color: #000;
		background-color: inherit;
	}

	.btn > span:first-child
	{
		display: block;
		float: left;
		width: 16px;
		height: 16px;
		margin-top: 2px;
		text-indent: 200em;
		overflow: hidden;
	}

	.btn.comment > span:first-child
	{
		@include icons-sprite(ico_spechbubble);
	}

	.btn.tweet > span:first-child
	{
		@include icons-sprite(ico_twitter);
	}

	.btn.fbook > span:first-child
	{
		@include icons-sprite(ico_facebook);
	}

	.btn.gplus > span:first-child
	{
		@include icons-sprite(ico_google);
	}

	.btn > span:last-child
	{
		display: block;
		float: left;
		margin-left: 3px;
		@include icons-sprite(info_box);
	}

	.btn > span:last-child span
	{
		display: block;
		line-height: 20px;
		margin-left: 6px;
		padding: 0 7px 0 4px;
		min-width: 10px;
		@include icons-sprite(info_box, false, 100%);
	}

	/**
	 * sidebar
	 */

	.categories ul
	{
		display: table;
		width: 100%;
		list-style: none;
		margin: 1.125em 0 0 0;
	}

	.categories ul li
	{
		float: left;
		margin: 0 .8em 0 0;
	}

	.archives ul,
	.blogroll ul
	{
		list-style: none;
	}

	.archives ul li,
	.blogroll ul li
	{
		@include icons-sprite(ico_br_next);
		padding-left: 20px;
		margin: 0;
		line-height: 16px;
		margin-bottom: .5em;
	}

	/**
	 * search box in sidebar
	*/

	.search .ym-form .ym-fbox-text
	{
		margin: 0;
	}

	/**
	 * gallery list style
	 */

	.gallery
	{
		display: table;
		width: 100%;
		overflow: visible;
		list-style: none;
		margin: 0;
	}

	.gallery li
	{
		float: left;
		margin: 1.5em .8em 0 0;
		border: 5px #ddd solid;
	}

	.gallery li img,
	.entry .lefty img
	{
		vertical-align: bottom;
	}

}

@media screen and ( min-width: 0px )
{
	body > header,
	body > nav,
	body > #main,
	body > footer
	{
		min-width: 0;
	}
}

@media screen and ( max-width: 960px )
{
	/* Linearisation for Grid- and Column-Module, based on CSS class .linearize-level-1 */
	.linearize-level-1,
	.linearize-level-1 > [class*="ym-g"],
	.linearize-level-1 > [class*="ym-col"]
	{
		display: block;
		float: none;
		padding: 0;
		margin: 0;
		width: 100% !important;
	}

	.linearize-level-1 > [class*="ym-g"] > [class*="ym-gbox"],
	.linearize-level-1 > [class*="ym-col"] > [class*="ym-cbox"]
	{
		overflow: hidden; /* optional for containing floats */
		padding: 0;
		margin: 0;
	}

	.linearize-level-1 li a
	{
		display: block;
	}
}

@media screen and ( max-width: 760px )
{
	/* Linearisation for Grid- and Column-Module, based on CSS class .linearize-level-2 */
	.linearize-level-2,
	.linearize-level-2 > [class*="ym-g"],
	.linearize-level-2 > [class*="ym-col"],
	.linearize-level-2 > li
	{
		display: block;
		float: none;
		padding: 0;
		margin: 0;
		width: 100% !important;
	}

	.linearize-level-2 > [class*="ym-g"] > [class*="ym-gbox"],
	.linearize-level-2 > [class*="ym-col"] > [class*="ym-cbox"]
	{
		overflow: hidden; /* optional for containing floats */
		padding: 0;
		margin: 0;
	}

	.ym-hlist .linearize-level-2 li
	{
		margin: 0 !important;
	}

	.ym-hlist .linearize-level-2 li.active a,
	.ym-hlist .linearize-level-2 li.active strong
	{
		border-radius: 0 !important;
	}

	.linearize-level-2
	{
		margin: 1.5em 0 0;
	}
}

@media screen and ( max-width: 480px )
{
	header h1
	{
		font-size: 1.5em;
		line-height: 1em;
		margin: 0;
	}
}
