@import "../yaml-var-globals",
		"../yaml-var-typography",
		"../mixins/yaml-mixins-core";

@media screen {
	.ym-form {
		@include ym-contain(dt);
		overflow: inherit;
		margin: 0 0 1.5em 0;

		fieldset {
			position:static;
			background:transparent;
			margin: 0.75em 0 0.75em 0;
			padding: 0;
		}

		legend {
			background:transparent;
			color:$color-text-secondary;
			font-size:1.2em;
			line-height:1.25em;
			font-weight:bold;
		}

		label,
		.ym-label {
			color: $color-text-secondary;
			line-height: 1.5;
			padding-top: 0.25em;
		}

		.ym-fbox {
			padding: 0 1em;
			margin: 1em 0 0.5em 0;
		}

		.ym-fbox-footer {
			background: #ececec;
			border-top: 1px solid #e0e0e0;
			padding: 1.5em 1em;
			margin: 0;
		}

		.ym-fbox + .ym-fbox {
			margin: 0.5em 0;
		}

		.ym-fbox:last-child {
			margin-bottom: 1em;
		}

		.ym-fbox + .ym-fbox-footer {
			margin: 1em 0 0 0;
		}

		.ym-fbox :last-child,
		.ym-fbox-footer :last-child {
			margin-bottom: 0;
		}

		.ym-fbox-heading {
			font-size: 1em;
			font-size: 100%;
			color: $color-text-secondary;
			margin: 1em;
		}

		.ym-fbox-check:focus + label {
			color:$color-text-secondary;
		}

		.ym-gbox-left {
			padding: 0 4px 0 0;
		}
		.ym-gbox-right {
			padding: 0 0 0 4px;
		}
		.ym-gbox {
			padding: 0 2px 0 2px;
		}
	}

	/**
	* @section styling form elements
	*
	*/

	.ym-form {
		input,
		textarea,
		select {
			border:1px solid $color-bg-main;
			border-bottom:2px solid $color-text-divider;
			line-height: 1em;
			font-family: $ym-font-monospace;
		}

		input,
		textarea {
			padding: 4px 0.3em;
		}

		select {
			padding: 3px 2px 3px 1px;
		}

		input:focus,
		select:focus,
		textarea:focus,
		input:hover,
		select:hover,
		textarea:hover,
		input:active,
		select:active,
		textarea:active {
			outline: 0;
			border-bottom:2px solid $color-accent-700 !important;
		}

		optgroup {
			font-family:Arial, Helvetica, sans-serif;
			font-style:normal;
			font-weight:bold;
		}

		.ym-fbox-check input,
		input[type="image"],
		input[type="radio"],
		input[type="checkbox"] {
			border: 0 none !important;
			background: transparent !important;
		}

		.ym-message {
			color: $color-text-hint;
			margin-bottom: 0.5em;
		}
		.ym-required {
			color: $color-red-500;
			font-weight: bold;
		}

		// valid & invalid state
		input:valid,
		textarea:valid { background-color: transparent; }
		input:invalid,
		textarea:invalid { background-color: transparent; border-bottom: 2px solid $color-red-500; }

		.ym-error {
			label {
				color: $color-red-500;
				font-weight: normal;
			}
			input,
			select,
			textarea {
				border-bottom: 2px solid $color-red-500;
			}
			input:hover,
			input:focus,
			select:hover,
			select:focus,
			textarea:hover,
			textarea:focus {
				border-bottom: 2px solid $color-red-500;
			}
			.ym-message {
				color: $color-red-500;
				font-weight: $font-weight-bold;
				margin-top: 0;
			}
		}
	}

	/**
	* @section Buttons
	* inspired from: Catalin Rosu (http://www.red-team-design.com/just-another-awesome-css3-buttons)
	*/

	.ym-button,
	.ym-form button,
	.ym-form input[type="button"],
	.ym-form input[type="reset"],
	.ym-form input[type="submit"] {
		display: inline-block;
		white-space: nowrap;

		cursor: pointer;
		margin: 0 0.75em 0 0;
		padding: .7em;
		overflow: visible; /* removes extra side spacing in IE */
		text-decoration: none !important;
		border: 0;

		&:hover{
		}
		&:active {
			position: relative;
			top: 1px;
		}
		&:focus {
			outline: 0;
		}
	}

	/* Button size-scaling classes */
	.ym-button {
		&.ym-xlarge { font-size: 1.5em; } /* 21px */
		&.ym-large { font-size: 1.2857em; } /* 18px */
		&.ym-small { font-size: 0.8571em; } /* 12px */
		&.ym-xsmall { font-size: 0.7143em; } /* 10px */
	}

	/* pseudo elements don't work on input */
	.ym-form button:before,
	.ym-button:before {
		float: left;
		text-align: center;
		font-size: 1.5em;
		pointer-events: none;
	}

	/* If line-height can't be modified, then fix Firefox spacing with padding */
	.ym-form input[type=button]::-moz-focus-inner,
	.ym-form input[type=reset]::-moz-focus-inner,
	.ym-form input[type=submit]::-moz-focus-inner {
		padding: .4em;
	}

	/* The disabled styles */
	.ym-form button[disabled],
	.ym-form button[disabled]:hover,
	.ym-form input[type=button][disabled],
	.ym-form input[type=button][disabled]:hover,
	.ym-form input[type=reset][disabled],
	.ym-form input[type=reset][disabled]:hover,
	.ym-form input[type=submit][disabled],
	.ym-form input[type=submit][disabled]:hover,
	.ym-button.ym-disabled,
	.ym-button.ym-disabled:hover {
		background: #eee;
		color: #aaa !important;
		border-color: #aaa;
		cursor: default;
		text-shadow: none;
		position: static;
		-webkit-box-shadow: none;
				box-shadow: none;
	}

	/* ie6 support styles - redefined buttons, because of missing support for attribute selectors */
	* html {
		.ym-button,
		.ym-form button {
			display: inline-block;
			white-space: nowrap;
			background-color: #ccc;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
			border: 1px solid #777;
			color: #333 !important;
			cursor: pointer;
			font: normal 1em/2em Arial, Helvetica;
			margin: 1.5em 0.75em 0 0;
			padding: 0 1.5em;
			overflow: visible; /* removes extra side spacing in IE */
			text-decoration: none !important;
		}

		.ym-form button:focus,
		.ym-button:focus {
			outline: 0;
			background: #fafafa;
		}

		.ym-form button:hover,
		.ym-button:hover {
			background-color: #ddd;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');
		}

		.ym-form button:active,
		.ym-button:active {
			background-color: #bbb;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#cccccc', EndColorStr='#bbbbbb');
			position: relative;
			top: 1px;
		}
		.ym-button.ym-disabled,
		.ym-button.ym-disabled:hover {
			background: #eee;
			color: #aaa !important;
			border-color: #aaa;
			cursor: default;
			text-shadow: none;
			position: static;
		}

		.ym-button {
			&.ym-primary {
				filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#8888ee', EndColorStr='#6666cc');
			}
			&.ym-success {
				filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#66bb66', EndColorStr='#449944');
			}
			&.ym-warning {
				filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ddaa44', EndColorStr='#BB7722');
			}
			&.ym-danger {
				filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#bb6666', EndColorStr='#994444');
			}

			/* Button size-scaling classes */
			&.ym-xlarge { font-size: 1.5em; } /* 21px */
			&.ym-large { font-size: 1.2857em; } /* 18px */
			&.ym-small { font-size: 0.8571em; } /* 12px */
			&.ym-xsmall { font-size: 0.7143em; } /* 10px */
		}
	}
}
