{
    "extends": "stylelint-config-standard",
    "rules": {
        "at-rule-empty-line-before": ["always", {
            "ignore": ["all-nested", "after-comment"]
        }],
        "block-closing-brace-newline-after": "always-single-line"
    }
}
