@import "../_yaml-var-globals",
		"../mixins/yaml-mixins-core",
		"../var-custom";

@media screen {

	/* force vertical scrollbar */
	body {
		overflow-y: scroll;
	}

	/* Layout Module Configuration */
	@if $box-sizing == border-box {
		.ym-wrapper,
		.ym-col1,
		.ym-col2,
		.ym-col3 {
			@include box-sizing($box-sizing);
			padding: 10px;
		}
	}

	.ym-wrapper {
		max-width: $layout-max-width;
		margin: 0 auto;
	}

	.ym-hlist .ym-wrapper {
		padding: 0;
	}

	@if $box-sizing == content-box {
		.ym-wbox {
			padding: 1.5em;
		}
	}

	.ym-col1 {
		float: left;
		width: 100% - $sidebar-width;
	} /* content */

	.ym-col3 {
		margin: 0 0 0 100% - $sidebar-width;
	} /* sidebar */

	/* fallback for missing media queries support*/
	body {
		& > header,
		& > nav,
		& > main,
		& > footer {
			min-width: $layout-min-width;
		}
	}

	/* Basic Element Styling */
	body {
		background-color: $color-bg-main;

		& > header {
			margin-top: 42px;
			background-color: $color-main-500;

			@include md-raise();
			@include md-shadow(2);
		}
		& > nav {
			position: absolute !important;
			top: 0;
			background: $color-main-700;
		}
		& > footer {
			border-top: 1px solid $color-text-divider;
		}
	}

	header {
		@if $box-sizing == content-box {
			.ym-wbox {
				padding: 1.5em;
			}
		}
	}

	main {
		padding: 2em 0;

		aside .ym-gbox-right {
			border-left: 1px #ddd solid;
		}
	}

	footer {

		p {
			margin: 0;
		}

		.ym-wbox {
			padding: 1.5em;
		}
	}

	.ym-gbox { padding: 0 1.5em; }
	.ym-gbox-left { padding: 0 1.5em 0 0; }
	.ym-gbox-right { padding: 0 0 0 1.5em; }

	/* skip links styling */
	.ym-skiplinks {
		a.ym-skip:focus,
		a.ym-skip:active {
			color:#fff;
			background:#333;
			border-bottom:1px #000 solid;
			padding:10px 0;
			text-align: center;
			text-decoration:none;
		}
	}
}

/* reset fallback values in modern browsers */
@media screen and ( min-width: 0px ) {

	body {
		& > header,
		& > nav,
		& > main,
		& > footer {
			min-width: 0;
		}
	}
}

@media screen and ( max-width: 760px ) {

	/* Linearisation for Grid- and Column-Module, based on CSS class .linearize-level-1 */
	.linearize-level-1 {
		@include ym-linearize-grids-and-columns();
	}

	.secondary {
		border-top: 1px #888 solid;
		margin-top: 1.5em !important;
		padding-top: 1.5em !important;
	}

	main aside .ym-gbox-right {
		border: 0 none;
	}

	.ym-searchform {
		display:block;
		float: none;
		width: auto;
		text-align: right;
	}

	.ym-searchform input[type="search"] {
		width: 14%;
	}

	/**
	 * custom responsive definition
	 */

	.article-meta {
		dt {
			clear: left;
			display: inline !important;
			margin: .5em 0 0 0 !important;
		}
		dd {
			display: block !important;
			margin: .5em 0 0 .5em !important;
		}
	}

	.toTop {
		display: none !important;
	}
}

@media screen and ( max-width: 480px) {

	/* Linearisation for Grid- and Column-Module, based on CSS class .linearize-level-2 */
	.linearize-level-2 {
		@include ym-linearize-grids-and-columns();
	}

	header {
		.ym-wbox {
			padding: 0.75em 10px;
		}

		h1,
		.slogan,
		.permalink {
			font-size: 1.5em !important;
			line-height: 1em !important;
		}
	}

	footer .ym-wbox,
	.ym-wbox,
	.ym-searchform,
	nav .ym-hlist ul {
		padding-left: 10px;
		padding-right: 10px;
	}

	.ym-searchform,
	nav .ym-hlist ul,
	nav .ym-hlist li {
		display:block;
		float: none;
		width: auto;
		text-align: left;
	}

	.ym-searchform input[type="search"] {
		width: 75%;
	}
}
