@import "../yaml-var-globals",
        "../yaml-var-typography",
        "../mixins/yaml-mixins-core",
        "../var-custom";

@media screen {

    /* force vertical scrollbar */
    body {
        overflow-y: scroll;
    }

    /* Layout Module Configuration */
    .ym-wrapper {
        max-width: $layout-max-width;
        margin: 0 auto;
        position: relative;
    }

    .ym-wrapper,
    .ym-col1,
    .ym-col2,
    .ym-col3 {
        @include ym-box-sizing();
        padding: 1.5em;
    }

    .ym-hlist .ym-wrapper {
        padding: 0;
    }

    .ym-col1 {
        float: left;
        width: 100% - $sidebar-width;
    } /* content */

    .ym-col3 {
        margin: 0 0 0 100% - $sidebar-width;
    } /* sidebar */

    /* fallback for missing media queries support*/
    body {
        & > header,
        & > nav,
        & > main,
        & > footer {
            min-width: $layout-min-width;
        }
    }

    /* Basic Element Styling */
    body {
        background-color: $color-bg-main;

        & > header {
            margin-top: 42px;
            background-color: $color-main-500;

            @include md-raise();
            @include md-shadow(2);
        }
        & > nav {
            position: absolute !important;
            top: 0;
            background: $color-main-700;
        }
        & > footer {
            border-top: 1px solid $color-text-divider;
        }
    }

    main {
        padding: 2em 0;
    }

    footer {
        p {
            margin: 0;
        }
    }

    /* skip links styling */
    .ym-skiplinks {
        a.ym-skip:focus,
        a.ym-skip:active {
            color:#fff;
            background:#333;
            border-bottom:1px #000 solid;
            padding:10px 0;
            text-align: center;
            text-decoration:none;
        }
    }

    /**
     * @section custom layout cascade
     */

    /* global site elements cascade */
    .site-title {
        font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: $ym-h1-font-scale * 100%;
        font-weight: 100;
        color: #fff;
        margin: 0;
    }

    /* sidebar cascade */
    .comments {
        blockquote {
            margin: 0 0 1.5em 1.5em;
        }
    }

    /* navigation cascade */
    #nav-meta {
        li.active strong {
            color: $color-accent-700;
            border-color: $color-accent-700;
        }

        li {
            a,
            strong {
                color: $color-text-secondary;

                &:hover,
                &:focus,
                &:active {
                    color: $color-accent-700;
                }

            }
        }
    }

    .nav-pages {
        @include ym-contain(dt);
        margin: 0 0 1.5em;

        ul {
            list-style: none;
            margin: 0;

            li {
                margin: 0;
            }
        }
    }

    /* module cascade */
    .btn {
        @include md-button();

        span {
            padding: 0 1.5em;
        }
    }

    .toTop {
        display: block;
        position: fixed;
        right: 0;
        bottom: 5em;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-align: center;

        span {
            display: inline-block;
            text-indent: 100%;
            overflow: hidden;
            width: 0;

        }

        &:before,
        &:after {
            border-radius: 50%;
        }
    }

    .hide { display: none; }

    .c-list {
        li {
            display: inline;
            margin: 0 .8em 0 0;
        }
    }

    .ym-searchbutton,
    .article-meta,
    .toTop {
        span {
            display: inline-block;
            text-indent: 100%;
            overflow: hidden;
            width: 0;
        }
    }

    .card {
        @include md-card();
        padding: .7em;
        margin-bottom: 1.5em;

        p {
            margin: 0;
        }
    }

    .gallery {
        list-style: none;
        margin: 0 0 1.5em 0;

        li {
            display: inline-block;
            margin: .8em .8em 0 0;

            img {
                border: 5px #ddd solid;
            }
        }
    }

    /* article cascade */
    h1 {
        float: left;
    }

    h1 + * {
        clear: left;
    }

    a.permalink {
        font-size: $ym-h1-font-scale * 100%;
        line-height: 2 * $line-height / $ym-h1-font-scale;
        color: $ym-text-color;
        opacity: .1;
        filter: alpha(opacity=0.1);
        transition: opacity 1s ease-in-out 0;

        &:hover,
        &:focus {
            opacity: .6;
            filter: alpha(opacity=0.8);
            text-decoration: none;
        }
    }

     .article-content {
        @include ym-contain(dt);
        margin: 0 0 1.5em;

     }

    .article-meta {
        margin: 0 0 2.5em;
        padding: 0;
        line-height: 1;

        dt {
            display: inline;
            margin-left: .5em;

            &:first-child {
                margin-left: 0;
            }
        }

        dd {
            display: inline;
            margin: 0;
            margin-left: .5em;
        }
    }

    .article-author {
        @include ym-contain(dt);

        img {
            border-radius: 50%;
        }
    }

    /* comments cascade */
    #comments {
        img {
            border-radius: 50%;
        }

        article {
            margin: 0;
            padding: .5em;

            p {
                margin: 0 1.5em 0 0;
            }
            blockquote {
                margin: 1.5em 0 1.5em 1.5em;
            }
            article {
                margin: 0;
                margin-left: 5%;
            }
        }

        .comment-author {
            & > blockquote {
                color: $color-text-error;
            }
        }
    }
}

/* reset fallback values in modern browsers */
@media screen and (min-width: 0px) {

    body {
        & > header,
        & > nav,
        & > main,
        & > footer {
            min-width: 0;
        }
    }
}

@media screen and (max-width: 760px) {

    /* Linearisation for Grid- and Column-Module, based on CSS class .linearize-level-1 */
    .linearize-level-1 {
        @include ym-linearize-grids-and-columns();
    }

    .ym-searchform {
        display:block;
        float: none;
        width: auto;
        text-align: right;
    }

    .ym-searchform input[type="search"] {
        width: 14%;
    }

    /**
     * custom responsive definition
     */
    .article-meta {
        dt {
            clear: left;
            display: inline !important;
            margin: .5em 0 0 0 !important;
        }
        dd {
            display: block !important;
            margin: .5em 0 0 .5em !important;
        }
    }

    .toTop {
        display: none !important;
    }
}

@media screen and (max-width: 480px) {

    /* Linearisation for Grid- and Column-Module, based on CSS class .linearize-level-2 */
    .linearize-level-2 {
        @include ym-linearize-grids-and-columns();
    }

    header {
        h1,
        .site-title,
        .permalink {
            font-size: 1.5em !important;
            line-height: 1em !important;
        }
    }

    .ym-searchform,
    nav .ym-hlist ul {
        padding-left: 10px;
        padding-right: 10px;
    }

    .ym-searchform,
    nav .ym-hlist ul,
    nav .ym-hlist li {
        display:block;
        float: none;
        width: auto;
        text-align: left;
    }

    .ym-searchform input[type="search"] {
        width: 75%;
    }
}
