@import "../yaml-var-globals",
        "../yaml-var-typography",
        "../mixins/yaml-mixins-core",
        "../var-custom";

@media screen {

    /* force vertical scrollbar */
    body {
        overflow-y: scroll;
    }

    /* Layout Module Configuration */
    .ym-wrapper {
        max-width: $layout-max-width;
        margin: 0 auto;
        position: relative;
    }

    .ym-wrapper,
    .ym-col1,
    .ym-col2,
    .ym-col3 {
        @include ym-box-sizing();
        padding: 1.5em;
    }

    .ym-col1 {
        float: left;
        width: 100% - $sidebar-width;
    } /* content */

    .ym-col3 {
        margin: 0 0 0 100% - $sidebar-width;
    } /* sidebar */

    /* fallback for missing media queries support*/
    body {
        & > header,
        & > nav,
        & > main,
        & > footer {
            min-width: $layout-min-width;
        }
    }

    /* Basic Element Styling */
    body {
        background-color: $color-bg-main;

        & > header {
            background-color: $color-main-500;
        }

        & > nav {
            background: $color-main-700;

            .ym-wrapper {
                padding: 0;
            }
        }

        & > footer {
            border-top: 1px solid $color-text-divider;

            .ym-wrapper{
                padding: 0;
            }

            nav {
                display: table !important;
                width: auto !important;
            }
        }
    }

    /* skip links styling */
    .ym-skiplinks {
        a.ym-skip:focus,
        a.ym-skip:active {
            color:#fff;
            background: $color-main-500;
            border-bottom:1px $color-text-divider solid;
            padding:10px 0;
            text-align: center;
            text-decoration:none;
        }
    }

    /**
     * @section custom layout cascade
     */

    /* global site elements cascade */
    .site-title {
        font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: $ym-h1-font-scale * 100%;
        font-weight: 100;
        color: #fff;
        margin: 0;
    }

    .site-author {
        img {
            @include border-radius(50%);
        }

        figure {
            margin-bottom: 1.5em;
        }
    }

    .site-credits {
        font-size: 1.25em;
        color: $color-text-secondary;
        line-height: 1.5;
        position: absolute;
        top: .5em;
        right: 0;
    }

    .fa {
        & > span {
            text-indent: -200em;
            display: inline-block;
            width: 0;
        }
    }

    /* navigation cascade */
    #nav-meta {
        li.active strong {
            color: $color-accent-700;
            border-color: $color-accent-700;
        }

        li {
            a,
            strong {
                color: $color-text-secondary;

                &:hover,
                &:focus,
                &:active {
                    color: $color-accent-700;
                }

            }
        }
    }

    .nav-pages {
        @include ym-contain(dt);
        margin: 0 0 1.5em;

        ul {
            list-style: none;
            margin: 0;

            li {
                margin: 0;

                a {
                    @include md-button(raised, colored);

                    .fa-chevron-left:before,
                    .fa-chevron-right:after {
                        margin: 0 .2em;
                    }

                    .fa-chevron-right:before {
                        content: none;
                    }

                    .fa-chevron-right:after {
                        content: '\f054';
                    }
                }
            }
        }
    }

    .paging {
        margin: 1.5em 0 2em 0;

        ul {
            list-style: none;

            li {
                display: inline-block;

                &:first-child {
                    margin: 0;
                }

                a {
                    @include md-button();
                    @include border-radius(50%);

                    display: inline;
                    padding: 1em;

                    &:after,
                    &:before {
                        @include border-radius(50%);
                    }
                }
            }
        }
    }

    /* module cascade */
    .toTop {
        position: fixed !important;
        right: .8em;
        bottom: .8em;

        @include md-button(fab, colored);
    }

    .hide { display: none; }

    .c-list {
        li {
            display: inline;
            margin: 0 .8em 0 0;
        }
    }

    .key_value-list {
        @include ym-contain(dt);

        dt {
            float: left;
            min-width: 10%;
            margin: 0 1.5em 0 0;
            padding: ($ym-base-line-height - 1 ) / $ym-base-line-height * $line-height / 2 * 1em 0.5em;
            color: $color-text-secondary;
        }

        dd {
            margin: 0;
            border-bottom: 1px $color-text-divider solid;
            padding: ($ym-base-line-height - 1 ) / $ym-base-line-height * $line-height / 2 * 1em 0.5em;
        }
    }

    .author-social_media {
        list-style: none;

        li {
            display: inline-block;
            font-size: 150%;

            &:first-child {
                margin: 0;
            }

            a {
                color: $color-text;
            }

            a:hover,
            a:focus {
                text-decoration: none;
                color: $ym-link-text-color;
            }
        }
    }

    /* gallery cascade */
    .gallery {
        list-style: none;
        margin: 0 0 1.5em 0;

        li {
            display: inline-block;
            margin: .8em .8em 0 0;

            img {
                border: 5px #ddd solid;
            }
        }
    }

    /* article cascade */
    a.permalink {
        font-size: $ym-h1-font-scale * 100%;
        line-height: 2 * $line-height / $ym-h1-font-scale;
        color: $ym-text-color;
        opacity: .1;
        filter: alpha(opacity=0.1);
        transition: opacity 1s ease-in-out 0;

        &:hover,
        &:focus {
            opacity: .6;
            filter: alpha(opacity=0.8);
            text-decoration: none;
        }
    }

     .article-content {
        @include ym-contain(dt);
        margin: 0 0 1.5em;

        pre {
            display: table;
            width: 100%;
            @include ym-box-sizing();
        }
     }

    .article-meta {
        padding: 0;

        dt {
            display: inline;
            margin-left: .5em;

            &:first-child {
                margin-left: 0;
            }
        }

        dd {
            display: inline;
            margin: 0;
            margin-left: .5em;
        }
    }

    .article-author {
        @include ym-contain(dt);

        img {
            @include border-radius(50%);
        }
    }

    article {
        header {
            margin: 0 0 1.5em 0;

            h1 {
                display: inline;
            }
        }
        figure {
            margin: 0 0 1.5em 0;
        }

        figcaption {
            padding: 1em;
        }
    }

    /* comments cascade */
    #comments {
        img {
            @include border-radius(50%);
        }

        article {
            margin: 0;
            padding: .5em;

            p {
                margin: 0 1.5em 0 0;
            }
            blockquote {
                margin: 1.5em 0 1.5em 1.5em;
            }
            article {
                margin: 0;
                margin-left: 5%;
            }
        }

        .comment-author {
            & > blockquote {
                color: $color-text-error;
            }
        }
    }
}

/* reset fallback values in modern browsers */
@media screen and (min-width: 0px) {

    body {
        & > header,
        & > nav,
        & > main,
        & > footer {
            min-width: 0;
        }
    }
}

@media screen and (max-width: 760px) {

    /* Linearisation for Grid- and Column-Module, based on CSS class .linearize-level-1 */
    .linearize-level-1 {
        @include ym-linearize-grids-and-columns();
    }

    .ym-searchform {
        display:block;
        float: none;
        width: auto;
        text-align: right;
    }

    .ym-searchform input[type="search"] {
        width: 14%;
    }

    .toTop {
        display: none !important;
    }
}

@media screen and (max-width: 480px) {

    /* Linearisation for Grid- and Column-Module, based on CSS class .linearize-level-2 */
    .linearize-level-2 {
        @include ym-linearize-grids-and-columns();
    }

    h1,
    .site-title,
    .permalink {
        font-size: 1.5em !important;
        line-height: 1em !important;
    }

    .site-title {
        font-weight: 300;
    }

    .ym-searchform,
    .ym-hlist ul {
        padding-left: 10px;
        padding-right: 10px;
    }

    .ym-searchform,
    .ym-hlist ul,
    .ym-hlist li {
        display:block !important;
        float: none !important;
        width: auto;
        text-align: left;
    }

    .ym-searchform input[type="search"] {
        width: 100%;
        @include ym-box-sizing();
    }

    .article-meta {
        @include ym-contain(dt);

        dt {
            display: inherit;
            min-width: 15%;
            float: left;
            clear: left;
            margin: 0 0 .5em;
            line-height: inherit;
        }

        dd {
            display: inherit;
            float: left;
            margin: 0 .5em .5em 0;
        }
    }

    .article-content-overflow {
        overflow: auto;
    }

    .site-credits {
        display: none;
    }
}
