@import "../yaml-var-globals",
		"../mixins/yaml-mixins-core",
		"../var-custom";

@media all {
	.ym-hlist {
		/* (en) containing floats in IE */
		/* (de) Einfassen der Floats im IE */
		width:100%;
		overflow:hidden;
		position:relative;	//(en|de) Bugfix:IE - collapsing horizontal margins
		line-height:1em;

		ul {
			margin:0;
			padding: 0.5em 1.5em;
			display:inline; // (en|de) Bugfix:IE - Doubled Float Margin Bug
			float:left; // LTR

			li {
				display:inline; // (en|de) Bugfix:IE - Doubled Float Margin Bug
				float:left; // LTR
				font-size:1.0em;
				line-height:1;
				list-style-type:none;
				margin: 0 .25em 0 0;
				padding:0;

				a, strong {
					display:block;
					font-size:1em;
					line-height: 2em;
					padding: 0 0.5em;
					font-weight:normal;
					text-decoration:none;
					width: auto;
				}

				a:focus,
				a:hover,
				a:active  {
					text-decoration:none;
					outline: 0 none;
				}

				&.active {

					strong,
					a:focus,
					a:hover,
					a:active {
						text-decoration:none;
					}
				}
			}
		}
	}

	/* ------- search form -------- */
	.ym-searchform {
		float:right;
		display: inline;
		line-height: 2;
		padding: 0.5em 1.5em;

		.ym-searchfield {
			-webkit-appearance: none;
			padding: 0.25em;
			width: 12em;
			outline: none;
			border: 0;
			transition: width 1s;

			&:focus,
			&:hover {
				width: 16em;
			}
		}

		.ym-searchbutton {
			position: relative;
			right: 30px;
			width: 20px;
			-webkit-appearance: none;
			cursor: pointer;
			display: inline-block;
			text-indent: -200em;
			transform: rotate(270deg);
			border: 0;
		}
	}
}
