@import "../yaml-var-globals",
  "../mixins/yaml-mixins-core",
  "../var-custom";

@media all {
  .nav-main,
  .nav-meta {
    /**
     * (en) containing floats in IE
     * (de) Einfassen der Floats im IE
     */
    width: 100%;
    overflow: hidden;
    position: relative; //(en|de) Bugfix:IE - collapsing horizontal margins
    line-height: 1em;

    ul {
      margin: 0;
      padding: 0.5em 1.5em;
      display: inline; // (en|de) Bugfix:IE - Doubled Float Margin Bug
      float: left; // LTR

      li {
        display: inline; // (en|de) Bugfix:IE - Doubled Float Margin Bug
        float: left; // LTR
        font-size: 1.0em;
        line-height: 1;
        list-style-type: none;
        margin: 0 .25em 0 0;
        padding: 0;

        a,
        strong {
          background: transparent;

          // http://www.google.com/design/spec/components/tabs.html#tabs-specs
          display: block;
          font-size: 1em;
          line-height: 2em;
          padding: 0 .5em;
          font-weight: $font-weight-regular;
          text-decoration: none;
          text-transform: uppercase;
          width: auto;
        }

        a:focus,
        a:hover,
        a:active {
          text-decoration: none;
          outline: 0 none;
        }

        &.active {
          strong,
          a:focus,
          a:hover,
          a:active {
            text-decoration: none;
          }
        }
      }
    }
  }

  .nav-main {
    a,
    strong {
      color: rgba(255, 255, 255, 0.60);
    }

    a:focus,
    a:hover,
    a:active {
      color: #fff;
    }

    &.active {
      color: #fff;

      strong,
      a:focus,
      a:hover,
      a:active {
        color: #fff;
      }
    }
  }

  .nav-meta {
    .active {
      strong {
        color: $color-accent-700;
        border-color: $color-accent-700;
      }
    }

    li {
      a,
      strong {
        color: $color-text-secondary;

        &:hover,
        &:focus,
        &:active {
          color: $color-accent-700;
        }
      }
    }
  }

  .nav-breadcrumb {
    list-style: none;

    li {
      display: inline;

      &:first-child {
        margin: 0;
      }

      &:not(:first-of-type):before {
        content: url("data:image/svg+xml;utf8,<svg width='14' height='14' fill='rgba(0, 0, 0, 0.26)' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'><path d='M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z'></path></svg>");
        margin-right: 1.2em;
        vertical-align: middle;
      }

      strong {
        color: $color-text-secondary;
      }
    }
  }

  /**
   * search form
   */
  .ym-searchform {
    float: right;
    display: inline;
    line-height: 2;
    padding: 0.5em 1.5em;

    fieldset {
      position: relative;
    }

    .ym-searchfield {
      -webkit-appearance: none;
      background: transparent;
      line-height: 1;
      padding: 0.25em 1.75em .25em .25em;
      width: 12em;
      border: 0;
      border-bottom: $color-accent-700 1px solid;
      outline: none;
      color: #fff;

      @include input-placeholder {
        color: rgba(255, 255, 255, 0.60);
      }
    }

    .ym-searchbutton {
      position: absolute;
      top: 0;
      right: 0;
      -webkit-appearance: none;
      background: transparent;
      color: rgba(255, 255, 255, 0.60);
      cursor: pointer;
      display: inline-block;
      font-size: 1em;
      line-height: 1.25;
      padding: 0.25em;
      border: solid 1px transparent;
    }
  }
}

@media screen and (max-width: $layout-breakpoint_mid) {
  .ym-searchform {
    display: block;
    float: none;
    width: auto;
    text-align: right;
  }

  .ym-searchform input[type="search"] {
    width: 14%;
  }
}

@media screen and (max-width: $layout-breakpoint_small) {
  .ym-searchform,
  .nav-main ul,
  .nav-meta ul {
    padding-left: 10px;
    padding-right: 10px;
  }

  .ym-searchform,
  .nav-main ul,
  .nav-main li,
  .nav-meta ul,
  .nav-meta li {
    display: block !important;
    float: none !important;
    width: auto;
    text-align: left;
  }

  .ym-searchform input[type="search"] {
    width: 100%;

    @include ym-box-sizing();
  }

  .nav-main ul li a,
  .nav-main ul li strong {
    padding: 0.5em;
  }

  .nav-breadcrumb {
    display: none;
  }
}
